{% extends "base.html" %}

{% block content %}


    <table class="table">

        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for product in product_list %}
        <tr>
            <td><a href="{% url 'store:product-detail' product.id %}">{{ product.title }}</a></td>
            <td>{{ product.price }}</td>
            <td>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'store:seller-product-update' product.id %}'">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    {% comment %} <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'store:seller-product-delete' product.id %}'">
                        <i class="bi bi-x-square"></i>
                    </button> {% endcomment %}
            </td>
        </tr>
        {% endfor %}

    </table>

    <button type="button" class="btn btn-primary" onclick="location.href='{%  url 'store:seller-product-create' %}'">Add new</button>

{% endblock %}