<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Защищенный блокнот</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div id="app" class="container">
    <h2>Защищенный блокнот</h2>

    <div v-if="sessionKey === null">
        <label for="publicKey">Публичный ключ</label>
        <input id="publicKey" v-model="publicKey" placeholder="123" type="text">

        <label for="privateKey">Приватный ключ</label>
        <input id="privateKey" v-model="privateKey" placeholder="234" type="text">
        <button class="btn" @click="getSessionKey">Получить сеансовый ключ</button>
    </div>
    <div v-else>
        <p>Сеансовый ключ: {{sessionKey}}</p>

        <label for="fileId">ID файла</label>
        <input id="fileId" v-model="fileId" type="number" placeholder="1">
        <button class="btn" @click="getFile">Получить файл</button>

        <div v-if="fileContents !== null">
            <p>Содержимое файла:</p>
            <p>{{fileContents}}</p>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            publicKey: null,
            privateKey: null,
            sessionKey: null,
            userId: 1,
            fileId: 1,
            fileContents: null
        },
        methods: {
            getSessionKey(event) {
                fetch("/api/login", {
                    method: 'POST',
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        userId: this.userId,
                        publicKey: this.publicKey
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Какие-то проблемы с сетью');
                        }
                        return response.json();
                    })
                    .then(json => {
                        this.sessionKey = json.sessionKey;
                    })
                    .catch(err => {
                        M.toast({html: err});
                    });
            },
            getFile(event) {
                fetch(`/api/note?noteId=${this.fileId}&userId=${this.userId}`, {
                    method: 'GET',
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Файл не найден');
                        }
                        return response.json();
                    })
                    .then(json => {
                        this.fileContents = json.text;
                    })
                    .catch(err => {
                        this.fileContents = null;
                        M.toast({html: err});
                    });
            }
        }
    })
</script>
</body>
</html>
